####################################
#   IDE
####################################
.idea/

####################################
#   Packcages
####################################
/node_modules/
/vendor/

####################################
#   MYSQL
####################################
/var/lib/

####################################
#   Others
####################################
*.zip